<h1>Crear proyecto</h1>

<div>
<%= link_to "Volver", root_path %>
</div>

<%= form_with(model: @project, local: true) do |form| %>

    <div class="form-group">
        <%= form.label :name %><br/>
        <%= form.text_field :name, class: "form-control" %>
    </div><br>

    <div class="form-group">
        <%= form.label :description %><br/>
        <%= form.text_area :description, class: "form-control-file" %>
    </div><br>

    <div class="form-group">
        <%= form.label :begin %><br/>
        <%= form.date_field :begin %>
    </div><br>

    <div class="form-group">
        <%= form.label :end %><br/>
        <%= form.date_field :end %>
    </div><br>

    <div class="form-group">
        <%= form.label :state %><br/>
        <%= form.select :state, Project.states.keys %>
    </div><br>

    <div class="actions">
        <%= form.submit class: "btn btn-primary float-right" %>
    </div>

<%end%>





